node_modules/
.next/
out/
.vercel/
.data/
*.db*
.env
.env.local
.env.production
.env.development
.env.example
.vscode/
.idea/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
libsql-dump-*

data/*.db
data/*.db-shm
data/*.db-wal

dist/
build/
